#header
{
	padding-top: 10px;
	font-size: 80px;
	font-family: "배달의민족 한나","맑은 고딕";
	margin-top: 50px;
	text-align: center;
	padding : 5px;
}
body
{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
}
#body1
{
	margin-left: 200px;
	margin-right:200px;
	background-color: white;
	height: 800px;
}

#footer
{
	margin-bottom: 50px;
	padding-top: 50px;
	height: 100px;
}
#img
{
	float: left;
	margin-left: 150px;

}
#cost
{
	margin-top: 360px;
	margin-left: 150px;
}
img
{
	width: 400px;
}
#datepicker
{
	float: right;
	margin-right: 150px;
}
