#body1
{
	margin-left: 200px;
	margin-right:200px;
	background-color: white;
}
body
{
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#footer
{
	padding-top: 50px;
	height: 100px;
}
#logindiv
{
	border: 2px solid #ccc;
	border-radius:0.4em;
	float: left;
	padding-top: 10px;
	padding-left: 30px;
	margin-left: 100px;
}