#body1
{
   margin-left: 200px;
   margin-right:200px;
   background-color: white;
}
body
{
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
#cartt
{
   
   width: 80%;
   vertical-align:center;
   vertical-align:middle;
}
#car2t
{
   
   width: 80%;
   vertical-align:center;
   vertical-align:middle;
}
#reservet
{
   
   width: 80%;
   vertical-align:center;
   vertical-align:middle;
}
#ordert
{

   width: 80%;
   vertical-align:center;
   vertical-align:middle;
}
#footer
{
   padding-top: 50px;
   height: 100px;
}

.header
{
   margin-top: 50px;
   text-align: center;
   padding : 5px;
   height:100px;
}

#image
{
width: 400px;
}

img
{
width:150px;
height:150px;
}
.container
{
   overflow: hidden;
}
#img
{
   width:600px;
   max-width: 50%;
   height: 300px;

   float: left;
}

{ margin:0; padding:0; }
ul,li { list-style:none; }
a { text-decoration:none; color:#000; }
.tab { border:1px solid #ddd; border-left:none; overflow:hidden; }
.tab li { float:left; width:33.3%; border-left:1px solid #ddd; text-align:center; box-sizing:border-box; }
.tab li { display:inline-block; padding:20px; cursor:pointer; }
.tab li.on { background-color:#eee; color:#f00; }
.tab_menu { clear:both; margin-top:5px; border:1px solid #ddd; }
.tab_menu div { display:none; height:1000px; line-height:100px; text-align:center; }