#header
{
		padding-top: 10px;
	font-size: 70px;
	font-family: "배달의민족 한나","맑은 고딕";
	margin-top: 50px;
	text-align: center;
	padding : 5px;
}
body
{
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#body1
{
	margin-left: 200px;
	margin-right:200px;
	background-color: white;
	height: 800px;
}


