#header
{
		padding-top: 10px;
	font-size: 70px;
	font-family: "배달의민족 한나","맑은 고딕";
	margin-top: 50px;
	text-align: center;
	padding : 5px;
}
body
{
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#body1
{
	margin-left: 200px;
	margin-right:200px;
	background-color: white;
}
#container
{
	float: center;
	overflow: hidden;
}

#strInfo
{
	padding-left: 200px;
	float: center;
	overflow: hidden;
}

#P_name
{
	width: 300px;
}
 #P_count
 {
	width: 300px;
}
 #P_cost
 {
	width: 300px;
}
#contents
{
	margin-left: 250px;
	overflow: hidden;
}
